BOT_TOKEN=YOUR_BOT_TOKEN
ZENTO_API_BASE=https://zento.up.railway.app/api/bot
DB_PATH=bot.db
OPENROUTER_API_KEY=YOUR_OPENROUTER_KEY
OPENROUTER_MODEL=openai/gpt-oss-20b
AI_TIMEOUT=30
MAX_HISTORY=8
HF_TOKEN=YOUR_HF_TOKEN
HF_IMAGE_PROVIDER=auto
HF_IMAGE_MODELS=black-forest-labs/FLUX.1-Krea-dev,Qwen/Qwen-Image,black-forest-labs/FLUX.1-dev,black-forest-labs/FLUX.1-schnell
